.michaeldmoore-multistat-panel-nodata {
  position: absolute;
  top: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: .875rem;
}

.michaeldmoore-multistat-panel-maxDate {
  margin-right: 4em;
  float:right;
}

.michaeldmoore-multistat-panel-valueaxis line {
	stroke: red;
}

.michaeldmoore-multistat-panel-valueaxis path {
	stroke: red;
}

.michaeldmoore-multistat-panel-valueaxis text {
	fill: red;
}


.XXXmichaeldmoore-multistat-panel-w4 {
  width: 3.75rem;
  height: 37px;
  margin-right: .25rem;
  margin-bottom: 0px;
}

.XXXmichaeldmoore-multistat-panel-w5 {
  width: 4.75rem;
  height: 37px;
  margin-right: .25rem;
  margin-bottom: 0px;
}

.XXXmichaeldmoore-multistat-panel-w6 {
  width: 5.75rem;
  height: 37px;
  margin-right: .25rem;
  margin-bottom: 0px;
}

.XXXmichaeldmoore-multistat-panel-w7 {
  width: 6.75rem;
  height: 37px;
  margin-right: .25rem;
  margin-bottom: 0px;
}

.XXXmichaeldmoore-multistat-panel-w9 {
  width: 8.75rem;
  height: 37px;
  margin-right: .25rem;
  margin-bottom: 0px;
}

.XXXmichaeldmoore-multistat-panel-w19 {
  width: 19.00rem;
  height: 37px;
  margin-right: .25rem;
  margin-bottom: 0px;
}

