.michaeldmoore-multistat-panel-nodata {
  position: absolute;
  top: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: .875rem;
}

.michaeldmoore-multistat-panel-maxDate {
  margin-right: 4em;
  float:right;
}

.michaeldmoore-multistat-panel-bar {
    display: inline-block;
	margin-right: 2px;
    background-color: teal;
}

.michaeldmoore-multistat-panel-bar flash {
	margin: 10px;
    background-color: black;
}

.michaeldmoore-multistat-panel-yaxis line {
	stroke: red;
}

.michaeldmoore-multistat-panel-yaxis path {
	stroke: red;
}

.michaeldmoore-multistat-panel-yaxis text {
	fill: red;
}

.michaeldmoore-multistat-rows-topleft {
  background-color: red;
}

.michaeldmoore-multistat-rows-topright {
  width: 100%;
  vertical-align: middle;
  background-color: yellow;
}

.michaeldmoore-multistat-rows-middleleft {
  height: 100%;
  padding-right: 5px;
  background-color: green;
}

.michaeldmoore-multistat-rows-middleright {
  height: 100%;
  width: 100%;
  background-color: blue;
}

.michaeldmoore-multistat-rows-bottomleft {
  background-color: orange;
}

.michaeldmoore-multistat-rows-bottomright {
  width: 100%;
  background-color: grey;
}


.XXXmichaeldmoore-multistat-panel-w4 {
  width: 3.75rem;
  height: 37px;
  margin-right: .25rem;
  margin-bottom: 0px;
}

.XXXmichaeldmoore-multistat-panel-w5 {
  width: 4.75rem;
  height: 37px;
  margin-right: .25rem;
  margin-bottom: 0px;
}

.XXXmichaeldmoore-multistat-panel-w6 {
  width: 5.75rem;
  height: 37px;
  margin-right: .25rem;
  margin-bottom: 0px;
}

.XXXmichaeldmoore-multistat-panel-w7 {
  width: 6.75rem;
  height: 37px;
  margin-right: .25rem;
  margin-bottom: 0px;
}

.XXXmichaeldmoore-multistat-panel-w9 {
  width: 8.75rem;
  height: 37px;
  margin-right: .25rem;
  margin-bottom: 0px;
}

.XXXmichaeldmoore-multistat-panel-w19 {
  width: 19.00rem;
  height: 37px;
  margin-right: .25rem;
  margin-bottom: 0px;
}

.XXXmichaeldmoore-multistat-panel-container {
  position: relative;
  display: table;
  width: 100%;
}

.XXXmichaeldmoore-multistat-panel-value-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
  font-size: 3em;
  font-weight: bold;
}

.XXXmichaeldmoore-multistat-panel-prefix {
  padding: 20px;
}

.XXXmichaeldmoore-multistat-panel-value {
}

.XXXmichaeldmoore-multistat-panel-postfix {
  padding-left: 20px;
}

.XXXmichaeldmoore-multistat-panel-limits-container {
  font-size: 3em;
}

.XXXmichaeldmoore-multistat-panel-lower-limit {
  position: absolute;
  top: 0px;
  left: 0px;
}

.XXXmichaeldmoore-multistat-panel-upper-limit {
  position: absolute;
  top: 0px;
  right: 0px;
}

.XXXmichaeldmoore-multistat-flash {
  animation: michaeldmoore-multistat-flash 1s infinite;
}

@keyframes michaeldmoore-multistat-flash {
  0% { font-weight: bold; }
  50% { font-weight: normal; }
  100% { font-weight: bold; } 
}
