<div class="editor-row">
  <div class="section gf-form-group">
    <h5 class="section-heading">Value</h5>

    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label michaeldmoore-multistat-panel-w6">Metric</label>
        <div class="gf-form-select-wrapper michaeldmoore-multistat-panel-w7">
          <select class="gf-form-input" ng-model="ctrl.panel.Metric.Name" ng-options="f for f in ctrl.metricNames" ng-change="ctrl.render()"></select>
        </div>
      </div>
      <div class="gf-form">
        <label class="gf-form-label michaeldmoore-multistat-panel-w6">Font size</label>
        <div class="gf-form-select-wrapper">
          <select class="gf-form-input michaeldmoore-multistat-panel-w6" ng-model="ctrl.panel.Metric.FontSize" ng-options="f for f in ctrl.fontSizes" ng-change="ctrl.render()"></select>
        </div>
      </div>
    </div>

    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label michaeldmoore-multistat-panel-w6">Prefix</label>
        <input type="text" class="gf-form-input michaeldmoore-multistat-panel-w7" ng-model="ctrl.panel.Prefix.Text" ng-change="ctrl.render()" ng-model-onblur>
        <label class="gf-form-label michaeldmoore-multistat-panel-w6">Font size</label>
        <div class="gf-form-select-wrapper">
          <select class="gf-form-input michaeldmoore-multistat-panel-w6" ng-model="ctrl.panel.Prefix.FontSize" ng-options="f for f in ctrl.fontSizes0" ng-change="ctrl.render()"></select>
        </div>
      </div>
    </div>

    <div class="gf-form">
      <label class="gf-form-label michaeldmoore-multistat-panel-w6">Postfix</label>
      <input type="text" class="gf-form-input michaeldmoore-multistat-panel-w7" ng-model="ctrl.panel.Postfix.Text" ng-change="ctrl.render()" ng-model-onblur>
      <label class="gf-form-label michaeldmoore-multistat-panel-w6">Font size</label>
      <div class="gf-form-select-wrapper">
        <select class="gf-form-input michaeldmoore-multistat-panel-w6" ng-model="ctrl.panel.Postfix.FontSize" ng-options="f for f in ctrl.fontSizes0" ng-change="ctrl.render()"></select>
      </div>
    </div>
	
	<div class="gf-form">
	  <label class="gf-form-label michaeldmoore-multistat-panel-w6">Unit</label>
	  <div class="gf-form-dropdown-typeahead michaeldmoore-multistat-panel-w19" ng-model="ctrl.panel.Metric.Format" dropdown-typeahead2="ctrl.unitFormats" dropdown-typeahead-on-select="ctrl.setUnitFormat($subItem)">
	  </div>
	</div>
  </div>
	
  <div class="section gf-form-group">
    <h5 class="section-heading">Flags</h5>

    <div class="gf-form">
      <gf-form-switch class="gf-form" label-class="width-10" label="Show Date" checked="ctrl.panel.ShowDate" on-change="ctrl.render()"></gf-form-switch>
    </div>
	  
    <div class="gf-form">
      <gf-form-switch class="gf-form" label-class="width-10" label="Show Top Scale" checked="ctrl.panel.ShowTopScale" on-change="ctrl.render()"></gf-form-switch>
    </div>
	  
    <div class="gf-form">
      <gf-form-switch class="gf-form" label-class="width-10" label="Show Bottom Scale" checked="ctrl.panel.ShowBottomScale" on-change="ctrl.render()"></gf-form-switch>
    </div>
	  
    <div class="gf-form">
	  <label class="gf-form-label width-9">Min Value</label>
	  <input type="number" class="gf-form-input width-10" placeholder="auto" data-placement="right" 
		bs-tooltip="'Override automatic minimum scale value'" ng-model="ctrl.panel.MinValue" ng-change="ctrl.refresh()" ng-model-onblur>
	</div>
	  
	<div class="gf-form">
	  <label class="gf-form-label width-9">Max Value</label>
	  <input type="number" class="gf-form-input width-10" placeholder="auto" data-placement="right" 
	    bs-tooltip="'Override automatic maximum scale value'" ng-model="ctrl.panel.MaxValue" ng-change="ctrl.refresh()" ng-model-onblur>
	</div>
  </div>
  
</div>
